<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Person</title>
</head>

<h1>Add Person</h1>
<form th:action="@{/add}" th:object="${person}" method="post">
	
	<div>
		<label for="name"> Name: </label>
		<input type="text" id="name" th:field="*{name}">
		<p th:if="${fields.hasErrors('name')}" th:errors="*{name}"> Name Error</p>
	</div>
	
	<div>
		<label for="email"> Email: </label>
		<input type="email" id="email" th:field="*{email}">
		<p th:if="${fields.hasErrors('email')}" th:errors="*{email}"> Email Error</p>
	</div>
	
	<button type="submit"> Submit </button>"
</form>
</body>
</html>